<!-- <h1>Cart</h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">count</th>
          
         
          </tr>
        </thead>
        <tbody>
         
         
            <tr *ngFor="let item of CartList">
              
                  <td>{{item.ProductId}}</td>
                  <td>{{item.ProductName}}</td>
                  <td>{{item.Price | currency: 'USD' : 'code'}}</td>
                  <td>{{item.ProductCount}}</td>
                  <td><input type="number"  class="form-control" (change)="updatequintity(item,$event)" ></td>
                   <td><input type="checkbox" id="c" name="c" (change)="CalcTotalPrice($event,item)"></td>
                   <button type="button" class="btn btn-primary d-block" (click)="sendidtoroute(item.ProductId)"><a class="nav-link" routerLink="/Products/:pid" routerLinkActive="active"></a>Product Details </button>
                  <button type="button" class="btn btn-primary d-block"  (click)="Delete(item)">Remove</button>
                 
            </tr>
  
        </tbody>
      </table> 
      
<div>Total Price {{TotalPrice}}</div>
<button (click)="ngAfterViewInit()" >Confirm</button> -->
