<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating rounded-circle m-1" href="#!" role="button">
         <!--  <i class="fa-brands fa-facebook"></i> -->
          <i class="fa fa-facebook-official text-white fa-1x" aria-hidden="true"></i>
      </a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating rounded-circle m-1" href="#!" role="button"
          ><i class="fa fa-twitter text-white fa-1x" aria-hidden="true"></i></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating rounded-circle m-1 " href="#!" role="button"
          ><i class="fa fa-google-plus-square text-white fa-1x" aria-hidden="true"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating rounded-circle m-1" href="#!" role="button"
          ><i class="fa fa-instagram text-white fa-1x" aria-hidden="true"></i></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating rounded-circle m-1 " href="#!" role="button"
          ><i class="fa fa-linkedin-square text-white fa-1x" aria-hidden="true"></i>
        </a>
   
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating rounded-circle m-1" href="#!" role="button"
          ><i class="fa fa-github text-white fa-1x" aria-hidden="true"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Gazer.com</a>
    </div>
    <!-- Copyright -->
  </footer>
    
  
  