<section class="home" id="home">

    <div class="content">
        <h3>High Performance<span>Electronics</span>for your</h3>
        <p>We support high performance Electronics for Easy usage </p>
        <a routerLinkActive="active" class="nav-link" routerLink="product" class="btn">shop now</a>
    </div>
  
  </section>
  <section class="features" id="features">
  
    <h1 class="heading"> our <span>features</span> </h1>
  
    <div class="box-container">
  
        <div class="box">
            <img src="./assets/product06.png" alt="">
            <h3>Hp Laptop</h3>
            <p>High Performance,CoreI7,Ram8</p>
            <a href="#" class="btn">read more</a>
        </div>
  
        <div class="box">
            <img src="./assets/product01.png" alt="">
            <h3>Samsung Laptop</h3>
            <p>High Performance,CoreI7,Ram8</p>
            <a href="#" class="btn">read more</a>
        </div>
  
        <div class="box">
            <img src="./assets/product06.png" alt="">
            <h3>Deal Laptop</h3>
            <p>High Performance,CoreI7,Ram8</p>
            <a href="#" class="btn">read more</a>
        </div>
  
    </div>
  
  </section>

  <!-- categories section starts  -->
  
  <section class="categories" id="categories">
  
    <h1 class="heading"> product <span>categories</span> </h1>
  
    <div class="box-container">
  
        <div class="box">
            <img src="./assets/product07.png" alt="">
            <h3>Lenovo Labtop</h3>
            <p>High Performance,CoreI7,Ram8</p>
            <a href="#" class="btn">shop now</a>
        </div>
  
        <div class="box">
            <img src="./assets/product08.png" alt="">
            <h3>Hp Laptop</h3>
            <p>High Performance,CoreI7,Ram8</p>
            <a href="#" class="btn">shop now</a>
        </div>
  
        <div class="box">
            <img src="./assets/product06.png" alt="">
            <h3>Deal Laptop</h3>
            <p>High Performance,CoreI7,Ram8</p>
            <a href="#" class="btn">shop now</a>
        </div>
  
        <div class="box">
            <img src="./assets/product01.png" alt="">
            <h3>Apple Laptop</h3>
            <p>High Performance,CoreI7,Ram8</p>
            <a href="#" class="btn">shop now</a>
        </div>
  
    </div>
  
  </section>

