.cardstyle{
    border-top-left-radius: 20%;
    border-bottom-right-radius: 9%;

}
.CardImag{
    border-top-left-radius: 20%; 
    height: 250px;
    vertical-align: middle;
}
.CardFooter{
 border-bottom-right-radius: 20px;
 align-items: center;
}
.center{
    width: 150px;
      margin: 40px auto;
      
 }